.container {
	width: 60px;
	height: 60px;
	transform-origin: center top;
	animation-name: flicker;
	animation-duration: 3ms;
	animation-delay: 200ms;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: alternate;
    zoom: 0.275;

    margin-top: -30px;
}
.flame {
	bottom: 0;
	position: absolute;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	transform: rotate(135deg) scale(1.5, 1.5);
  -moz-transform: rotate(135deg) scale(1.5, 1.5);
  -webkit-transform: rotate(135deg) scale(1.5, 1.5);
  -o-transform: rotate(135deg) scale(1.5, 1.5);
}
.yellow {
	left: 15px;
	width: 30px;
	height: 30px;
	background: gold;
	box-shadow: 0px 0px 9px 4px gold;
}
.orange {
	left: 10px;
	width: 40px;
	height: 40px;
	background: orange;
	box-shadow: 0px 0px 9px 4px orange;
}
.red {
    left: 3px;
	top: 20px;
	width: 50px;
	height: 50px;
	background: OrangeRed;
	border: 1px solid OrangeRed;
	box-shadow: 0px 0px 5px 4px OrangeRed;
}
.white {
	left: 15px;
	top: 20px;
	width: 30px;
	height: 30px;
	background: white;
	box-shadow: 0px 0px 9px 4px white;
}
.circle {
	border-radius: 50%;
	position: absolute;
}
.blue {
	width: 10px;
	height: 10px;
	left: 25px;
	top: 5px;
	background: SlateBlue;
	box-shadow: 0px 0px 15px 10px #4fc1e9;
}
.black {
	width: 40px;
	height: 40px;
	left: 10px;
	top: -30px;
	background: #ddd;
	border: 1px solid #282A3A;
	box-shadow: 0px 0px 10px 10px #282A3A;
}
 @keyframes flicker {
 0% {
transform: rotate(-3deg);
   -moz-transform: rotate(-3deg);
   -webkit-transform: rotate(-3deg);
}
 20% {
transform: rotate(3deg);
   -moz-transform: rotate(3deg);
   -webkit-transform: rotate(3deg);
}
 40% {
transform: rotate(-3deg);
   -moz-transform: rotate(-3deg);
   -webkit-transform: rotate(-3deg);
}
 60% {
transform: rotate(3deg) scaleY(1.04);
}
 80% {
transform: rotate(-2deg) scaleY(0.92);
   -moz-transform: rotate(-2deg) scaleY(0.92);
   -webkit-transform: rotate(-2deg) scaleY(0.92);
}
 100% {
   transform: rotate(3deg);
   -webkit-transform: rotate(3deg);
   -moz-transform: rotate(3deg);
   }
}
.circlee {
	width: 60px;
	height: 60px;
	border: 4px solid grey;
	top: 3%;
}
.circleee {
	width: 40px;
	height: 40px;
	border: 4px solid grey;
	top: -19%;
}
.circlee, .circleee {
	border-radius: 50%;
	position: relative;
	z-index: 10;
}